
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Sherry Cheng</h1>
          <h4 class="cover-heading headwords">Never forget, you spin the fly wheel. It's all on you.</h4>
        </div>
      </div>
      <nav class="nav nav-masthead">
        <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
      </nav>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
          </header>
          <main role="main" class="inner cover">
            <!-- <h4 class="cover-heading headwords">Never forget, you spin the fly wheel. It's all on you.</h4> -->
            <div class="image-cropper">
              <img src="sherry.jpg" alt="sherry" class="rounded" >
            </div>
          </main>
          <a href="#"> <%= link_to "Download my resume", "/cv.pdf" %></a>
      <div class="container marketing">
          <div class="row">
            <div class="col-lg-4 bar">
              <h2>About me</h2>
              <p>I first discovered my passion for coding when..</p>
              <p><a class="btn btn-secondary" href="#" role="button">Read more.. &raquo;</a></p>
            </div>
            <div class="col-lg-4 bar">
              <h2>Proud Projects</h2>
              <p>I have included awesome 3 projects</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 bar">
              <h2>Contact</h2>
              <p>Let's talk</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="icons">
          <a href="https://www.linkedin.com/in/sehribancheng"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="sehribancheng@yahoo.com"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
          <a href="https://github.com/sgc88"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto right" src="basil.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto left" src="/events.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto right" src="/dreamtrip.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
  <footer class="mastfoot">
      <div class="inner">
        <p>Copyright@2018 Sherry Cheng</p>
      </div>
  </footer>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
  </body>
</html>
