
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
  </head>
  <body>

  <main role="main" class="inner cover">
          <!-- <h4 class="cover-heading headwords">Never forget, you spin the fly wheel. It's all on you.</h4> -->
          <div class="image-cropper">
            <img src="sherry.jpg" alt="sherry" class="rounded" >
          </div>
  </main>
    <div class="container marketing">
        <div class="row">
          <div class="col-lg-4 bar">
            <h2>About me</h2>
            <p>I first discovered my passion for coding when..</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read more.. &raquo;</a></p>
          </div>
        </div>
        <h2>Portfolio</h2>
          <div class="col-lg-4 bar">
            <h2>Contact</h2>
            <p>Let's talk</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">FunToGo <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">FunToGo is a planning and organizing web based application for your events needs.</p>
        <a href="https://hidden-retreat-76638.herokuapp.com/">Visit FunToGo today</a>
      </div>
      <div class="col-md-5">
        <a href="https://hidden-retreat-76638.herokuapp.com/"><img class="featurette-image img-fluid mx-auto right" src="/events.png" alt="Generic placeholder image"></a>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">BASIL <span class="text-muted">what do you have in your refrege?</span></h2>
        <p class="lead">Basil solves the problem of finding recipes based off of the ingredients that you have available at home. Through Basil you input the ingredients you have at home and we will return a list of recipes that you could make with those ingredients. For each recipe that we return, we highlight the used ingredients and any additional ingredients that you would need to make the recipe.
        </p>
        <a href="https://basly.herokuapp.com/">Visit Basil today</a>
      </div>
      <div class="col-md-5 pull-md-7">
        <a href="https://basly.herokuapp.com/"><img class="featurette-image img-fluid mx-auto left" src="/basil.png" alt="Generic placeholder image"></a>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">DreamTrip<span class="text-muted">Checkmark!</span></h2>
        <p class="lead">DreamTrip helps you organize your trip and helps you keep track on places you want to go. You can make a list of which places you wanted visit and checkmark the place you have already wet.</p>
        <a href="https://dreamtrip.herokuapp.com/">Visit DreamTrip today</a>
      </div>
      <div class="col-md-5">
        <a href="https://dreamtrip.herokuapp.com/"><img class="featurette-image img-fluid mx-auto right" src="/dreamtrip.png" alt="Generic placeholder image"></a>
      </div>
    </div>
    <hr class="featurette-divider"><br>
    <div class="icons">
      <a href="#"> <%= link_to "Download my resume", "/cv.pdf" %></a><br>
      <a href="https://www.linkedin.com/in/sehribancheng"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="sehribancheng@yahoo.com"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://github.com/sgc88"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div
<footer class="mastfoot">
    <div class="inner">
      <p>Copyright@2018 Sherry Cheng</p>
    </div>
</footer>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
</body>
</html>
