/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-image: url(/mermer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.jumbotron{
  background-image: url(/dalgali.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:300px;
  width:100%;
}
header{
  width: 100%;
  color: red;
  text-shadow: 1px 1px 1px white;
}

#home{
  margin-top: 0;
}
.container{
  /*color:red;*/
  display: inline-block;
  width: 100%;

}

.inner{
  margin: 4% 0 2% 0;;
}
#portfolio{
  text-align: center;

}
.nav{
  float:right;
  margin-right: 1%;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel{
    padding: 0 18px;
    display: none;
    background-color: white;
}

.image-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 40%;
}
.bar{
  display: inline-block;
  text-align: center;
  margin: 2%;
  padding: 2%;
}

.headwords{
  text-align: center;
  text-decoration: inherit;
  font-style: italic;
}
.icons{
  text-align: center;
  font-size: 30px;
}
.featurette-image{
    width:400px;
    height:450px;
  }
  .footer-copyright{
    font-size: 15px;
  }
  .row p{
    font-size: 15px;
    font-style: normal;
    font-weight:lighter;
  }
  .row a{
    font-size: 15px;
  }
  #kafalafi{
    font-size: 13px;
    margin-left: 40%;
  }
  #devami{
    font-size: 12px;
    margin-left: 48%;

  }
